<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
      <h1 class="text-3xl font-bold mb-6 text-center text-gray-800"><%= editing ? "Edit" : "Register"%> Your Home is Now on AirBnB</h1>
      <form action="/host/<%= editing ? "edit-home" : 'add-home'%>"
        method="POST"enctype="multipart/form-data"
         class="max-w-md mx-auto">
        <input type="hidden" name="homeId" value="<%= editing ? home._id.toString() : '' %>" />
        <input
          type="text"
          name="houseName"
          value="<%= editing ? home.houseName : ''%>"
          placeholder="Enter your House Name"
          required
          class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"/>
        <input
          type="number"
          name="price"
          min="0" step="1"
          required
          value="<%= editing ? home.price : ''%>"
          placeholder="Price Per Night"
          class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"/>
        <input
          type="text"
          name="location"
          required
          value="<%= editing ? home.location : ''%>"
          placeholder="Location"
          class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"/>
        <input
          type="number"
          name="rating"
          required
          min="0" max="5" step="0.1"
          value="<%= editing ? home.rating : ''%>"
          placeholder="Rating"
          class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"/>
          <textarea
            name="description"
            placeholder="Describe your home..."
            rows="4"
            class="w-full px-4 py-3 mb-4 border border-gray-300 rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-red-500"
          ><%= editing ? home.description : '' %></textarea>

        <input
          type="file"
          name="photo"
          accept="image/jpg,image/jpeg,image/png"
          required
          class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"/>
        <input type="submit" 
        value="<%= editing ? "Update Home" : "Add Home"%>" 
        class="w-full bg-red-500 text-white py-2 rounded-md hover:bg-red-600 transition duration-300" />
      </form>
    </main>
  </body>
</html>
